@page "/test"
<div class="my-component">
    This component is defined in the <strong>Maid.Blazor.Core</strong> library.
</div>
<input type="text" @bind="test" />
@code{
    private string test = string.Empty;
}